
body{
	background-color:#fbfbfb
;
	font-family:calibri;	
}
form{
	padding-top: 100px;
}
div#container2{
	margin-top: 100px;
	padding-top:10px;
	padding-bottom: 10px; 
	width: 400px;
	height: 400px;
	background-color:white;
	border-radius:10px;
	font-family: Calibri ;
	box-shadow: 0px 4px 4px  #c08442;
	margin-right:auto; 
	margin-left:auto;
	text-align: center;	
}
div#container{
	margin-top: 100px;
	padding-top:10px;
	padding-bottom: 10px; 
	width: 400px;
	height: 400px;
	background-color:white;
	border-radius:10px;
	font-family: Calibri ;
	box-shadow: 0px 4px 4px  #AA83E4;
	margin-right:auto; 
	margin-left:auto;
	text-align: center;	
}
#box{
	height: 30px;
	width: 200px;
	border-color: lightgrey;
	border-width: 0px;
	border-radius: 7px;
	border: solid 1px lightgrey;
	margin-bottom: 10px;
}
#box:hover{
	box-shadow: 0px 2px 2px  lightgrey;
}
#button{
	border-radius: 3px;
	border:solid 1px #AA83E4;
	background-color:#AA83E4;
	height: 40px; 
	width: 300px;
}
#button2{
	border-radius: 3px;
	border:solid 1px #c08442;
	background-color:#c08442;
	height: 40px; 
	width: 300px;
}
#button2:hover{
	box-shadow: 0px 2px 2px  black;
}
#button:hover{
	box-shadow: 0px 2px 2px  #8759CB;
}

.btnprog{
	padding: 3px;	
}

#scene{
 	display: table;
    width: 500px;
    margin: 100px auto;
    padding: 0;

}
#scene .btnscene{
    display: table-cell;
    padding: 10px;
    border: 2px;
    

}

#scene .btnscene a {
  	display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;
  
}

#Menuprog
{
	margin-top: 15px;
	border:2px;
	background-color:#DDcdf4;
	width:1000px;
	margin-right:100px;
	overflow-y:scroll;
	height:600px;
	float:bottom;
}
.btnset{
	border-radius: 3px;
	border:solid 1px #AA83E4;
	background-color:#AA83E4;
	height: 40px; 
	width: 250px;
	float :none;

}

.tag1{
	display:none;

}
.tag:hover .tag1{
	display:block;
	padding-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background-color:#AA83E4;
	height: 40px; 
	width: 300px;
	position: relative;
	margin-top: 5px;
	border: black solid 1px ;
}
.tag:hover{
	box-shadow: 0px 2px 2px  #000000;

}
.tag{
	border: 2PX black;
	padding-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background-color:#AA83E4;
	height: 40px; 
	width: 300px;
	border-radius: 3px;
	display: inline-block;

}
.tag1:hover{
	box-shadow: 0px 2px 2px  #000000;
}


.btnprog a {
	text-decoration: none;
	color:#000000;
    width: 80px;
    height: 60px;
    text-align: center;
    cursor: move;
    transition: all 200ms linear;
    user-select: none;
    float:left;

}


/*************************************include bootstrap lib***************************************************************/


